/* Importamos el nuevo motor de Tailwind v4 */
@import "tailwindcss";

/* Le decimos a Tailwind que nuestro NavBar controlará el modo oscuro con la clase .dark */
@variant dark (&:where(.dark, .dark *));

/* Inyectamos nuestros colores exactos de Apple al nuevo motor */
@theme {
  --color-apple-gray: #f5f5f7;
  --color-apple-dark: #1d1d1f;
  --color-apple-blue: #0066cc;
}

@layer base {
  body {
    /* Transición suave como iOS */
    @apply transition-colors duration-500 antialiased;
    @apply bg-white text-black dark:bg-black dark:text-white;
  }
}

/* Ocultar barra de scroll para que Lenis (Smooth Scroll) brille */
::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Nuestro efecto translúcido para el NavBar */
.glass {
  @apply bg-white/70 dark:bg-black/70 backdrop-blur-md;
}